{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% load bootstrap3 %}
{% block content %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


<div class="container-fluid" padding="10px">
    <div class="jumbotron text-center" >
      <h1>Chrome Extension Downloader</h1>
      <h2>easily download chrome extensions</h2>
    </div>
</div>

<div class="container "  padding="40px 100px 10000px 10px ">
  <form>
      {% csrf_token %}
      <h3 for="basic-url"> Insert the web store url of the extension </h3>
      <div class=" border input-group form-group form-group-lg" padding="20px" >
          <input name="url" class="input-group form-control"  type="text" id="basic-url" placeholder="https://chrome.google.com/webstore/detail/...">
          <span class="input-group-addon">
            <button class="btn btn-primary btn-large"  type="submit" >
              Download extension
            </button>
          </span>
      </div>

    {% if error %}
    <div class="alert alert-warning form-group form-grop-sm" >
      <h2>{{ error }}</h2>
    </div>
    {% endif %}
  </form>
</div>

{% endblock %}
