{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% load bootstrap3 %}
{% block content %}

<h1>Chrome Extension Downloader</h1>
<p>easily download chrome extensions</p>

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!--
{# Display a form #}
<form action="" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Submit
    </button>
  {% endbuttons %}
</form>

{# Read the documentation for more information #}
-->


{% block form %}
<form class="form-horizontal">
  {% csrf_token %}
  {% bootstrap_form form %}
  <div class="form-group">
    <label for="inputdefault">Insert the web store url of the extension</label>
    <input name="url"  placeholder="https://chrome.google.com/webstore/detail/..." class="form-control" id="inputdefault" type="text">
    {% buttons %}
    <button id="submit_button" class="btn btn-primary" type="submit" >
      {% bootstrap_icon "star" %} Download extension
    </button>
  </div>
</form>
{% endblock %}

<h2>{{ error }}</h2>
{% endblock %}
