{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% load bootstrap3 %}
{% block content %}

<h1>Chrome Extension Downloader</h1>
<p>easily download chrome extensions</p>

{% block form %}
<form class="form-horizontal" id="pciForm">
  <div class="form-group">
    <label for="inputdefault">Insert the web store url of the extension</label>
    <input name="url"  placeholder="https://chrome.google.com/webstore/detail/..." class="form-control" id="inputdefault" type="text">
    <button id="submit_button" class="btn btn-primary" type="submit" >Download extension</button>
  </div>
</form>
{% endblock %}
<h2>{{ error }}</h2>
{% endblock %}
