[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django = "*"
gunicorn = "*"
numpy = "*"
collections = "*"
django-heroku = "*"
"django-bootstrap3" = "*"
"html5lib" = "*"
tensorflow = "*"
ipython = "*"

[requires]
python_version = "3.6"
