<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="a downloader about chrome extension"/>
  <meta name="keyword" content="extension chrome downloader poem "
<title>download</title>
<!-- google ads-->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-7409599830651627",
          enable_page_level_ads: true
     });
</script>
<!-- bootstrap css -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125083858-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125083858-1');
</script>

</head>

<body>
<!-- top navbar  -->
<!--<nav class="navbar navbar-dark bg-dark">-->
<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-inverse">
  <div class="container">

    <ul class="nav navbar-nav">
     <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
     </li>
     <li>
       <a href="https://online-downloader.herokuapp.com/poem"><span class="glyphicon glyphicon-leaf"></span> Poem</a>
     </li>
      <li>
        <a href="https://online-downloader.herokuapp.com/logs"><span class="glyphicon glyphicon-calendar"></span> Logs</a>
      </li>
      <li class="nav-item">
        <a href="https://online-downloader.herokuapp.com/help"><span class="glyphicon glyphicon-book"></span> HELP </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expended="false">English</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">简体中文</a>
          <a class="dropdown-item" href="#">繁体中文</a>
        </div>
      </li>
  </ul>

  </div>
</nav>

{% block content %}{% endblock %}
<!-- jquery first, then popper.js, then bootstrap js -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
